<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
namespace AinDevHelperCommandPattern {
    /// <summary>
    /// Интерфейс команды
    /// </summary>
    public interface ICommand {
        void Execute();
    }
}