<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
using System;

namespace AinDevHelperFactoryMethodPattern {
    /// <summary>
    /// Класс для представления автомобиля
    /// </summary>    
    public class Car : ITransport {
        public void Drive() {
            Console.WriteLine("Едем на машине!");
        }
    }
}