<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
namespace AinDevHelperFactoryMethodPattern {
    /// <summary>
    /// Интерфейс для представления транспортного средства
    /// </summary>
    public interface ITransport {
        void Drive();
    }
}